<div class="jumbotron_rpd">       
  <div class="row">            
      <div class="col-sm-6 offset-sm-3"> 
          <h2>Add pet</h2>
          <form [formGroup]="addPetForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                      <div *ngIf="f.name.errors.required">Required</div>
                  </div>
              </div>
              <div class="form-group">
                  <label for="species">Species</label>
                  <input type="text" formControlName="species" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.species.errors }" />
                  <div *ngIf="submitted && f.species.errors" class="invalid-feedback">
                      <div *ngIf="f.species.errors.required">Required</div>
                  </div>
              </div>
              <div class="form-group">
                <label for="breed">Breed</label>
                <input type="text" formControlName="breed" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.breed.errors }" />
                <div *ngIf="submitted && f.breed.errors" class="invalid-feedback">
                    <div *ngIf="f.breed.errors.required">Required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="weight">Weight</label>
                <input type="number" formControlName="weight" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.weight.errors }" />
                <div *ngIf="submitted && f.weight.errors" class="invalid-feedback">
                    <div *ngIf="f.weight.errors.required">Required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="birthDate">Birth date</label>
                <input type="date" formControlName="birthDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.birthDate.errors }" />
                <div *ngIf="submitted && f.birthDate.errors" class="invalid-feedback">
                    <div *ngIf="f.birthDate.errors.required">Required</div>
                    <div *ngIf="f.birthDate.errors.birthDateInvalid">Invalid</div>
                </div>
              </div>
              <div class="form-group">
                  <label for="file">Choose picture</label>
                  <input type="file" id="file" formControlName="image" (change)="handleFileInput($event.target.files)">
              </div>
              <!--<div class="form-group">
                <label for="image">Slika</label>
                <input type="file" formControlName="image" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.image.errors }" />
              </div>-->
              <div class="form-group">
                  <button type="submit" [disabled]="loading" class="btn btn-primary">Save</button>
                  <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
              </div>
          </form>
  </div>
</div>
</div>
